
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body h2 {

	font-size: 2em;
}
#contentcontainer {
	width: 100%;
	padding: 2em;
	margin: 0 auto;
	overflow: hidden;
	}
.bold {
		font-weight: bold;
}

#staff {
	
	display: block;
	width: 25%;
	float: left;
	background-color: rgba(255, 165, 0, 0.85); 
	margin: 15px 40px;
	padding: 2em;
	font-size: 0.7em;
}

#staff h3 {
	font-weight: bolder;
	font-size: 1.5em;
	
}

#map {
	
	max-width: 70%;
	float: right;
	margin: 0 35px;
	padding: 1em;
}

.social img {
	display: block;
	margin: auto;
	width: 35%;
}


