

@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");


*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #fff;
    font-size: 20px; /* 20px=1em */
	font-family: 'Sorts Mill Goudy', serif;
}

h1{
	font-size: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	text-align: center;
	font-family: "Gentium Basic", serif;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;
	font-style: normal;
}
p {
	color: #222222;
	font-size: 1em;
	font-family: 'Libre Franklin', sans-serif;
    margin: auto;
    line-height: 1.5em;
    padding-bottom: .8em;
   }
input {
	display: none;
}
nav {
	float:left;
	padding: 1em;
	width: 100%;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 0.8em;
	font-weight: 600;
	}

nav a {
	letter-spacing: 0.2em;
	padding: 0.5em 1em;
	}

nav a:link {
	color: #660000;
}

nav a:visited {
	color: #660000;
}

nav a:hover {
	color: green;
}

nav a.active {
	color: #f47216;
	font-weight: 650;
	
}
label {
	float:left;
	padding: 1em;
	width: 100%;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 0.8em;
	font-weight: 400;
	display: none;
}
.hero {

	background-image: url("../images/Loungechairs.jpg");
	height: 600px;
	background-size: cover;
	background-position: center center;
	clear: both;
}

.hero h2 {
	color: #fff;
	font-style:italic;
	font-size: 1.8em;
	font-weight: normal;
	padding-top: 1em;
	margin-left: 0.8em;
	}
hr {
	margin: 0 1em;
}

#wrappertop {
	
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	}

#story {
	
	padding: 0.5em 2em;
	float: left;
	width: 60%;
	
		}

#reviews {
	
	padding: 2em;
	width: 40%;
	float: right;
	font-style: italic;
}

cite {

	line-height: 2.5em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#features {
	clear: left;
	padding-left: 2em;
}

#features ul {
	list-style-type: square;
	padding-left: 2em;
}

#features li {  
    font-size: 1.2em;
}

.online {
	
	width: 30%;
	display: block;
	margin: 1em auto;
	background-color:#f49842;
	padding: 0.5em;
	text-align: center;
	clear: both;
	font-weight: 600;
	font-size: 1.5em;
}

#memories {
	
	background-color: #fff2e6;
	padding: 1em;
	color: #000;
}

#memories h2 {
	text-align: center;
	font-size: 1.7em;
}


.colcontainer {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	
}

.column {
	float: left;
	width: 33.33%;
	text-align: left;
	padding: 0.5em 1em;
}

.column h3 {
	text-align: center;
	padding-bottom: 1em;
	font-weight: bolder;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	font-family: "PT Serif", serif;
	
}
.column img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

a {
	color: #990000;
	text-decoration: none;
}

footer {
	background-color: #660000;
	color: #fff;
	padding: 2em;
}
 
 footer p {
    font-style: italic;
	color: #fff;
	line-height: 1.2em;
	}
footer h3  {
	font-weight: bolder;
	font-size: 1.5em;
}    
footer a {
	color: #f49842;
}
#copy {
	text-align: center;
	color: #fff;
}

@media only screen and (max-width: 940px) {
#hero {
	height: 450px;
}

#story {
	width: 100%;
}
#reviews {
	display: none;
}
body {
	font-size: 18px;
}
body h2 {
	font-size: 1.2em;
}
#memories h2 {
	font-size: 1.5em;
}
.column h3 {
	font-size: 1.2em;
}
}
@media only screen and (max-width: 989px) {
.online {
	width: 40%;
}

#hero h2 {
	font-size: 1.5em;
}
}
@media only screen and (max-width: 800px){
nav a{
	padding: 1em 1.2em;
}
}
@media only screen and (max-width: 775px) {
body {
	font-size: 16px;
}

.column {
	float: none;
	width: 100%;
}
.column p {
	padding-top: 0.7em;
	width: 100%;
}
.column img  {
	width: 100%;
}
}
@media only screen and (max-width: 635px){
label {
	display: block;
	padding-bottom: 
	
	font-weight: 500;
	letter-spacing: 0.5em;
	background-color: #660000;
	color: #fff;
}
nav a {
	display: block;
	float: none;
	width: 100%;
	text-align: center;
	padding: 0.8em;
	font-size: 1.2em;
	font-weight: 575;
}
nav {
	display: none;
}
#toggle:checked + nav {
	display: block;
}
body h1 {
	padding-bottom: 0.8em;
}
}
@media only screen and (max-width: 625px) {
footer{
	font-size: 1em; 
	text-align: center;
	padding: 1.2em;
}
footer h3 {
	font-size: 1.3em;
}
}
@media only screen and (max-width: 598px) {
.online {
	width: 60%;
}
}
@media only screen and (max-width: 577px) {

#hero h2 {
	font-size: 1.3em;
}
footer {
	height: 160px;
}
}
@media only screen and (max-width: 530px) {
body h1 {
	font-size: 2em;
}
}

@media only screen and (max-width: 452px) {
.online {
	width: 70%;
}
}
@media only screen and (max-width: 432px) {
body h1{
	font-size: 1.6em;
}
#hero {
	height: 350px;
}
}

@media only screen and (max-width: 384px) {
.online {
	width: 100%;
	margin: 0 auto;
}
}